<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">

    <div class="footer-col-wrapper">
  <style>
    body {
      display: flex;
      justify-content: center; /* Centers horizontally */
      text-align: center;      /* Ensures multiple text lines stay centered */
    }
  </style>
</head>
<body>
  <div>
    <a href="mailto:kevinm@mcyosh.com">kevinm@mcyosh.com</a>
    <a> &nbsp </a>
    <a href="http://linkedin.mcyosh.com" target="_blank" rel="noopener">linkedin.mcyosh.com</a>
    <a> &nbsp </a>
    <a href="http://googlescholar.mcyosh.com" target="_blank" rel="noopener">googlescholar.mcyosh.com</a>
  </div>
</body>
    </div>
  </div>

</footer>
