<title>Address:	Department of Economics</title>
<style>
<!--
 /* Font Definitions */
 @font-face
	{font-family:Wingdings;
	panose-1:5 0 0 0 0 0 0 0 0 0;}
@font-face
	{font-family:"Cambria Math";
	panose-1:2 4 5 3 5 4 6 3 2 4;}
@font-face
	{font-family:Calibri;
	panose-1:2 15 5 2 2 2 4 3 2 4;}
@font-face
	{font-family:Aptos;
	panose-1:2 11 0 4 2 2 2 2 2 4;}
@font-face
	{font-family:"CG Times \(WN\)";
	panose-1:2 11 6 4 2 2 2 2 2 4;}
 /* Style Definitions */
 p.MsoNormal, li.MsoNormal, div.MsoNormal
	{margin:0in;
	font-size:10.0pt;
	font-family:"Times New Roman",serif;}
p.MsoHeader, li.MsoHeader, div.MsoHeader
	{margin:0in;
	font-size:10.0pt;
	font-family:"Times New Roman",serif;}
p.MsoBodyTextIndent, li.MsoBodyTextIndent, div.MsoBodyTextIndent
	{margin-top:0in;
	margin-right:0in;
	margin-bottom:0in;
	margin-left:.7in;
	text-indent:-.2in;
	font-size:11.0pt;
	font-family:"Times New Roman",serif;}
p.MsoBodyText2, li.MsoBodyText2, div.MsoBodyText2
	{margin:0in;
	font-size:11.0pt;
	font-family:"Times New Roman",serif;}
p.MsoBodyTextIndent2, li.MsoBodyTextIndent2, div.MsoBodyTextIndent2
	{margin-top:0in;
	margin-right:0in;
	margin-bottom:0in;
	margin-left:.5in;
	font-size:10.0pt;
	font-family:"Times New Roman",serif;}
.MsoChpDefault
	{font-size:10.0pt;
	font-family:"CG Times (WN)",serif;}
 /* Page Definitions */
 @page WordSection1
	{size:8.5in 11.0in;
	margin:1.0in 1.0in 1.0in 1.0in;}
div.WordSection1
	{page:WordSection1;}
 /* List Definitions */
 ol
	{margin-bottom:0in;}
ul
	{margin-bottom:0in;}
-->
</style>

<div class=WordSection1>

<p class=MsoNormal align=center style='text-align:center'><b><span
style='font-size:12.0pt;font-family:"Aptos",sans-serif'>Earned Degrees:</span></b></p>

<p class=MsoNormal align=center style='text-align:center'><span
style='font-size:12.0pt;font-family:"Aptos",sans-serif'>B.A. University of
California, Irvine, 1989</span></p>

<p class=MsoNormal align=center style='text-align:center'><span
style='font-size:12.0pt;font-family:"Aptos",sans-serif'>M.A. University of
California, Santa Barbara, 1992</span></p>

<p class=MsoNormal align=center style='text-align:center'><span
style='font-size:12.0pt;font-family:"Aptos",sans-serif'>Ph.D. University of
California, Santa Barbara, 2000</span></p>

<p class=MsoBodyTextIndent2 align=center style='margin-left:.7in;text-align:
center;text-indent:-.2in'><span style='font-size:12.0pt;font-family:"Aptos",sans-serif'>&nbsp;</span></p>

<p class=MsoBodyText2 align=center style='text-align:center'><b><span
style='font-size:12.0pt;font-family:"Aptos",sans-serif'>Fields of
Concentration:</span></b></p>

<p class=MsoNormal align=center style='text-align:center'><span
style='font-size:12.0pt;font-family:"Aptos",sans-serif'>Primary Field: Labor
Economics</span></p>

<p class=MsoNormal align=center style='text-align:center'><span
style='font-size:12.0pt;font-family:"Aptos",sans-serif'>Secondary Fields: Econometrics
and Public Finance</span></p>

<p class=MsoNormal align=center style='text-align:center'><span
style='font-size:12.0pt;font-family:"Aptos",sans-serif'>&nbsp;</span></p>

<p class=MsoNormal align=center style='text-align:center'><b><span
style='font-size:12.0pt;font-family:"Aptos",sans-serif'>Dissertation Title:</span></b></p>

<p class=MsoNormal align=center style='text-align:center'><span
style='font-size:12.0pt;font-family:"Aptos",sans-serif'>“Three Essays on
Mexican American Educational Attainment”</span></p>

<p class=MsoNormal align=center style='margin-left:.7in;text-align:center'><span
style='font-size:12.0pt;font-family:"Aptos",sans-serif'>Committee Chair:
Professor Steve Trejo</span></p>

<p class=MsoNormal align=center style='text-align:center'><span
style='font-size:12.0pt;font-family:"Aptos",sans-serif'>&nbsp;</span></p>

<p class=MsoBodyText2 align=center style='text-align:center;text-autospace:
none'><b><span style='font-size:12.0pt;font-family:"Aptos",sans-serif'>Teaching
Experience:</span></b></p>

<p class=MsoNormal align=center style='margin-left:.7in;text-align:center;
text-indent:-.2in'><b><span style='font-size:12.0pt;font-family:"Aptos",sans-serif'>Lecturer: 
</span></b><span style='font-size:12.0pt;font-family:"Aptos",sans-serif'>Upper
Division Microeconomics, Fall, 1993 - Fall, 1994, International Trade, Summer
1994.</span></p>

<p class=MsoNormal align=center style='margin-left:.7in;text-align:center;
text-indent:-.2in'><b><span style='font-size:12.0pt;font-family:"Aptos",sans-serif'>Teaching
Assistant: </span></b><span style='font-size:12.0pt;font-family:"Aptos",sans-serif'>Introductory</span><span
style='font-size:12.0pt;font-family:"Aptos",sans-serif'> Microeconomics &amp;
Introductory Macroeconomics, Academic Years 1991-93, 95-96.</span></p>

<p class=MsoNormal align=center style='text-align:center'><span
style='font-size:12.0pt;font-family:"Aptos",sans-serif'>&nbsp;</span></p>

<p class=MsoNormal align=center style='text-align:center'><b><span
style='font-size:12.0pt;font-family:"Aptos",sans-serif'>Academic Papers:</span></b></p>

<p class=MsoBodyTextIndent align=center style='text-align:center'><span
style='font-size:12.0pt;font-family:"Aptos",sans-serif'>“Estimating the
Potential Impact of Combined Race and Ethnicity Reporting on Long-Term Earnings
Statistics,” with John Abowd, <u>Race, Ethnicity, and Economic Statistics for
the 21<sup>st</sup> Century</u> (eds. Randall Akee, Lawrence F. Katz, and Mark
A. Loewenstein), 2026.</span></p>

<p class=MsoBodyTextIndent align=center style='text-align:center'><span
style='font-size:12.0pt;font-family:"Aptos",sans-serif'>&nbsp;</span></p>

<p class=MsoBodyTextIndent align=center style='text-align:center'><span
style='font-size:12.0pt;font-family:"Aptos",sans-serif'>“Mixed Effects Methods
for Search and Matching Research,” with John Abowd, <i>Revue Economique</i>,
2024.</span></p>

<p class=MsoBodyTextIndent align=center style='text-align:center'><span
style='font-size:12.0pt;font-family:"Aptos",sans-serif'>&nbsp;</span></p>

<p class=MsoBodyTextIndent align=center style='text-align:center'><span
style='font-size:12.0pt;font-family:"Aptos",sans-serif'>“Reconciling Trends in
U.S. Male Earnings Volatility: Results from Survey and Administrative Data,”
with John Abowd, Christopher Bollinger, Michael Carr, Chales Hokayem, Robert
Moffitt, Emily Wiemers, Sisi Zhang, and James Ziliak, <i>Journal of Business
and Economic Statistics</i>, 2022.</span></p>

<p class=MsoBodyTextIndent align=center style='text-align:center'><span
style='font-size:12.0pt;font-family:"Aptos",sans-serif'>&nbsp;</span></p>

<p class=MsoBodyTextIndent align=center style='text-align:center'><span
style='font-size:12.0pt;font-family:"Aptos",sans-serif'>“Male Earnings
Volatility in LEHD before, during, and after the Great Recession,” with John
Abowd, <i>Journal of Business and Economic Statistics</i>, 2022.</span></p>

<p class=MsoBodyTextIndent align=center style='text-align:center'><span
style='font-size:12.0pt;font-family:"Aptos",sans-serif'>&nbsp;</span></p>

<p class=MsoBodyTextIndent align=center style='text-align:center'><span
style='font-size:12.0pt;font-family:"Aptos",sans-serif'>“U.S. Long-Term
Earnings outcomes by Sex, Race, Ethnicity, and Place of Birth,” with John Abowd
and Hubert Janicki, <i>Quantitative Economics</i>, 2022.</span></p>

<p class=MsoBodyTextIndent align=center style='text-align:center'><span
style='font-size:12.0pt;font-family:"Aptos",sans-serif'>&nbsp;</span></p>

<p class=MsoBodyTextIndent align=center style='text-align:center'><span
style='font-size:12.0pt;font-family:"Aptos",sans-serif'>“United States Earnings
Dynamics: Inequality, Mobility, and Volatility,” with John Abowd and John
Sabelhaus, <u>Measuring Distribution and Mobility of Income and Wealth</u>
(eds. Raj Chetty, John Friedman, Janet Gornick, Barry Johnson, Arthur
Kennickell), 2022.</span></p>

<p class=MsoBodyTextIndent align=center style='text-align:center'><span
style='font-size:12.0pt;font-family:"Aptos",sans-serif'>&nbsp;</span></p>

<p class=MsoBodyTextIndent align=center style='text-align:center'><span
style='font-size:12.0pt;font-family:"Aptos",sans-serif'>“Total Error and
Variability Measures for the Quarterly Workforce Indicators and LEHD
Origin-Destination Employment Statistics in On the Map,” with Andrew Green,
Lars Vilhuber, and John Abowd, <i>Journal of Survey Statistics and Methodology</i>,
2021.</span></p>

<p class=MsoBodyTextIndent align=center style='text-align:center'><span
style='font-size:12.0pt;font-family:"Aptos",sans-serif'>&nbsp;</span></p>

<p class=MsoBodyTextIndent align=center style='text-align:center'><span
style='font-size:12.0pt;font-family:"Aptos",sans-serif'>“Modeling Endogenous
Mobility in Wage Determination,” with John M Abowd and Ian M. Schmutte, <i>Journal
of Business and Economic Statistics</i>, 2019.</span></p>

<p class=MsoBodyTextIndent align=center style='text-align:center'><span
style='font-size:12.0pt;font-family:"Aptos",sans-serif'>&nbsp;</span></p>

<p class=MsoBodyTextIndent align=center style='text-align:center'><span
style='font-size:12.0pt;font-family:"Aptos",sans-serif'>“Releasing Earnings
Distributions Using Differential Privacy: Disclosure Avoidance System for
Post-Secondary Employment Outcomes (PSEO),” with Andrew Foote and Ashwin
Machanavajjhala, <i>Journal of Privacy and Confidentiality</i>, 2019.</span></p>

<p class=MsoBodyTextIndent align=center style='text-align:center'><span
style='font-size:12.0pt;font-family:"Aptos",sans-serif'>&nbsp;</span></p>

<p class=MsoBodyTextIndent align=center style='text-align:center'><span
style='font-size:12.0pt;font-family:"Aptos",sans-serif'>“Earnings Inequality
and Mobility Trends in the United States: Nationally Representative Estimates
from Longitudinally Linked Employer-Employee Data,” with John Abowd and Nellie
Zhao, <i>Journal of Labor Economics</i>, 2018.</span></p>

<p class=MsoBodyTextIndent align=center style='text-align:center'><span
style='font-size:12.0pt;font-family:"Aptos",sans-serif'>&nbsp;</span></p>

<p class=MsoBodyTextIndent align=center style='text-align:center'><span
style='font-size:12.0pt;font-family:"Aptos",sans-serif'>“Noise Infusion as a
Confidentiality Protection Measure for Graph-Based Statistics,” with John M
Abowd, <i>Journal of the International Association for Official Statistics
(IAOS)</i>, 2016.</span></p>

<p class=MsoBodyTextIndent align=center style='text-align:center'><span
style='font-size:12.0pt;font-family:"Aptos",sans-serif'>&nbsp;</span></p>

<p class=MsoBodyTextIndent align=center style='text-align:center'><span
style='font-size:12.0pt;font-family:"Aptos",sans-serif'>“Persistent
Inter-Industry Wage Differences: Rent Sharing and Opportunity Costs,” with John
Abowd, Francis Kramarz, Paul Lengermann, and Sebastien Roux, <i>IZA Journal of
Labor Economics</i>, 2012.</span></p>

<p class=MsoBodyTextIndent align=center style='text-align:center'><span
style='font-size:12.0pt;font-family:"Aptos",sans-serif'>&nbsp;</span></p>

<p class=MsoBodyTextIndent2 align=center style='margin-left:.7in;text-align:
center;text-indent:-.2in'><span style='font-size:12.0pt;font-family:"Aptos",sans-serif'>“Matching,
Reallocation, and Changes in Earnings Dispersion,” with Simon Burgess and Julia
Lane, <i>Oxford Bulletin of Economics and Statistics</i>, 2009.</span></p>

<p class=MsoBodyTextIndent2 align=center style='margin-left:.7in;text-align:
center;text-indent:-.2in'><span style='font-size:12.0pt;font-family:"Aptos",sans-serif'>&nbsp;</span></p>

<p class=MsoBodyTextIndent align=center style='text-align:center'><span
style='font-size:12.0pt;font-family:"Aptos",sans-serif'>“Using Worker Flows to
Measure Firm Dynamics,” with Gary Benedetto, John Haltiwanger and Julia Lane, <i>Journal
of Business and Economic Statistics</i>, 2007.</span></p>

<p class=MsoBodyTextIndent align=center style='text-align:center'><span
style='font-size:12.0pt;font-family:"Aptos",sans-serif'>&nbsp;</span></p>

<p class=MsoBodyTextIndent align=center style='text-align:center'><span
style='font-size:12.0pt;font-family:"Aptos",sans-serif;color:black'>“The Link
Between Human Capital, Mass Layoffs and Firm Deaths,” with John M Abowd and
Lars Vilhuber, <u>Producer Dynamics: New Evidence from Micro Data</u> (eds.
Timotht Dunne, J. Bradford Jensen, and Mark Roberts), University of Chicago
Press, 2007.</span></p>

<p class=MsoBodyTextIndent align=center style='text-align:center'><span
style='font-size:12.0pt;font-family:"Aptos",sans-serif'>&nbsp;</span></p>

<p class=MsoBodyTextIndent align=center style='text-align:center'><span
style='font-size:12.0pt;font-family:"Aptos",sans-serif;color:black'>“The LEHD
Infrastructure Files and the Creation of the Quarterly Workforce Indicators,”
with John M Abowd and Bryce E. Stephens, <u>Producer Dynamics: New Evidence
from Micro Data</u> (eds. Timotht Dunne, J. Bradford Jensen, and Mark Roberts),
University of Chicago Press, 2007.</span></p>

<p class=MsoBodyTextIndent align=center style='text-align:center'><span
style='font-size:12.0pt;font-family:"Aptos",sans-serif'>&nbsp;</span></p>

<p class=MsoBodyTextIndent align=center style='text-align:center'><span
style='font-size:12.0pt;font-family:"Aptos",sans-serif'>“The Relationship
Between Human Capital, Productivity and Market Value: Building Up from Microeconomic
Evidence,” with John Abowd, John Haltiwanger, Ron Jarmin, Julia Lane, Paul
Lengermann, Kristin McCue, and Kristin Sandusky, in <u>Measuring Capital in the
New Economy</u> (eds. Carol Corrado, John Haltiwanger and Daniel Sichel),
University of Chicago Press, 2005.</span></p>

<p class=MsoBodyTextIndent align=center style='margin-left:0in;text-align:center;
text-indent:0in'><span style='font-size:12.0pt;font-family:"Aptos",sans-serif'>&nbsp;</span></p>

<p class=MsoBodyTextIndent align=center style='margin-left:0in;text-align:center;
text-indent:0in'><b><span style='font-size:12.0pt;font-family:"Aptos",sans-serif'>Work
in Progress / Recent Working Papers:</span></b></p>

<p class=MsoBodyTextIndent align=center style='text-align:center'><span
style='font-size:12.0pt;font-family:"Aptos",sans-serif'>“Detecting Person
Identifier Misuse: Understanding the Longitudinal Employer Household Dynamics
(LEHD) Pseudo-PIK Process”, with Stephen Tibbets, CES Technical Notes Series,
2026.</span></p>

<p class=MsoBodyTextIndent align=center style='text-align:center'><span
style='font-size:12.0pt;font-family:"Aptos",sans-serif'>&nbsp;</span></p>

<p class=MsoBodyTextIndent align=center style='text-align:center'><span
style='font-size:12.0pt;font-family:"Aptos",sans-serif'>“Understanding the
Longitudinal Employer Household Dynamics (LEHD) Linked-Job Identifier (FID),
with Stephen Tibbets, CES Technical Notes Series, 2026.</span></p>

<p class=MsoBodyTextIndent align=center style='text-align:center'>&nbsp;</p>

</div>
